<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.data>
		<DbProviderFactories>
			<clear />
			<add name="InterBaseClient Data Provider" invariant="InterBaseSql.Data.InterBaseClient" description=".Net Framework Data Provider for InterBase" type="InterBaseSql.Data.InterBaseClient.InterBaseClientFactory, InterBaseSql.Data.InterBaseClient" />
		</DbProviderFactories>
	</system.data>
	<entityFramework>
		<defaultConnectionFactory type="EntityFramework.InterBase.IBConnectionFactory, EntityFramework.InterBase" />
		<providers>
			<provider invariantName="InterBaseSql.Data.InterBaseClient" type="EntityFramework.InterBase.IBProviderServices, EntityFramework.InterBase" />
		</providers>
	</entityFramework>
</configuration>